:root {
    --banner_height: 100px;
  }
.menu_buttons {
    width: 25%;
    float: left;
    background-color: rgb(46, 7, 71);
    color: rgb(83, 183, 241);
    text-align: center;
    height: 100%;
}

.menu_buttons:hover{
    background-color: firebrick;
}

.menu {
    height: 50px;
}

.banner {
    height: var(--banner_height);
}

.content_text {
    float: left;
    width: 46%;
    padding: 20px;
    padding-left: 14%;
}

.content_pic{
    float: left;
    width: 23%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    border-style: solid;
}

h1 {
    text-align: center;
}

.bar {
    background-color: blue;
    height: 10px;
    margin: 40px 40px 20px 40px;
    bottom: 0px;
    border-radius: 30px;
}

body {
    align-content: center;

}

.pic {
    width: 100%;
    height: 100%;
}

.main_con {
    overflow: hidden;
}