.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons-page-div {
  background-color:lightskyblue;
  width: 45%;
  overflow: hidden;
  float: left;
}

.space-app {
  margin: 10px;
  padding: 10px;
}

.center-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-div-frame {
  width: 20%;
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
}

.border-btn {
  border: 1px solid black;
  border-radius: 5px;
}

.btn-select {
  background-color: whitesmoke;
}

.active {
  background-color: goldenrod;
}
